//Colors
$white: #f9fbfc;
$light-grey: #eef1f2;
$grey: #cfd4d5;
$dark-grey: #b1b6b7;
$light-blue: #789dcc;
$blue: #446c99;
$dark-blue: #003d66;
$black: #00061a;
$light-yellow: #ffec80;
$yellow: #ffd466;
$dark-yellow: #ffa401;
$light-orange: #e87a00;
$orange: #ff6a33;
$green: #00cd7e;
$red: #d9002e;
//Box-Shadow
$yellow-box-shadow: 0 6px 12px 0 rgba(255, 201, 65, 0.64);
$dark-blue-box-shadow: 0 6px 12px 0 rgba(0, 61, 102, 0.32);
$box-shadow1: 0 6px 12px 0 rgba(207, 212, 213, 0.32);
$box-shadow2: 0 12px 24px 0 rgba(207, 212, 213, 0.32);
