@font-face {
  font-family: 'Shabnam';
  src: url('../font/Shabnam-FD.eot');
  src: url('../font/Shabnam-FD.eot?#iefix') format('embedded-opentype'),
    url('../font/Shabnam-FD.woff2') format('woff2'),
    url('../font/Shabnam-FD.woff') format('woff'),
    url('../font/Shabnam-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shabnam';
  src: url('../font/Shabnam-Light-FD.eot');
  src: url('../font/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),
    url('../font/Shabnam-Light-FD.woff2') format('woff2'),
    url('../font/Shabnam-Light-FD.woff') format('woff'),
    url('../font/Shabnam-Light-FD.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shabnam';
  src: url('../font/Shabnam-Bold-FD.eot');
  src: url('../font/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),
    url('../font/Shabnam-Bold-FD.woff2') format('woff2'),
    url('../font/Shabnam-Bold-FD.woff') format('woff'),
    url('../font/Shabnam-Bold-FD.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shabnam';
  src: url('../font/Shabnam-Thin-FD.eot');
  src: url('../font/Shabnam-Thin-FD.eot?#iefix') format('embedded-opentype'),
    url('../font/Shabnam-Thin-FD.woff2') format('woff2'),
    url('../font/Shabnam-Thin-FD.woff') format('woff'),
    url('../font/Shabnam-Thin-FD.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shabnam';
  src: url('../font/Shabnam-Medium-FD.eot');
  src: url('../font/Shabnam-Medium-FD.eot?#iefix') format('embedded-opentype'),
    url('../font/Shabnam-Medium-FD.woff2') format('woff2'),
    url('../font/Shabnam-Medium-FD.woff') format('woff'),
    url('../font/Shabnam-Medium-FD.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
